*{
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

main {
    min-height: calc(100vh - 96px);
}

.card {
    margin-bottom: 20px;
}

.sidebar {
    padding: 15px;
}

.sidebar .nav-link {
    color: rgba(255, 255, 255, .55);;
}

.sidebar .nav-link:hover {
    color: white;
}

.sidebar .nav-link.active {
    color: white;
}

.footer {
    text-align: center;
}
